body {
    text-align: center;
}
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container {
    background-color: rgba(53, 53, 53, 0.102);
    border-radius: 10px;
    padding: 25px;
    margin-top: 3rem;
    backdrop-filter: blur(5px);
    box-shadow: -7px -7px 23px -4px rgba(0, 0, 0, 0.2);
    max-width: 360px;
    color: rgb(255, 204, 204);
}
li {
    text-align: left;
    list-style:none
}
h2 {
    margin-bottom: 2rem;
}
h4 {
    text-align: left;
}